.footer__container {
    margin: 1rem 0rem 0 0rem;
    background-color: var(--color-one);
    border: solid 1px var(--color-eigth);
    border-radius: 6px;
    width: 600px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer__description {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 1rem;
    padding: 1.25rem;
}

.footer__icon {
    margin: 1rem 0 0 0;
    padding: 1.25rem;
}

.footer__text {
    font-size: 1rem;
    color: var(--color-three);
    font-weight: 400;
}

.footer__text span {
    font-size: 1rem;
    font-weight: 700;
    color: var(--color-six);
}

.footer__text a {
    color: var(--color-five);
    cursor: pointer;
    font-size: 1rem;
}

.footer__icon {
    color: #B0B0B0;
    font-size: 5rem;
    font-weight: 700;
    margin: 1rem 1.5rem 0 0;
}

/* Mensagem Automatica */

.automatic__message {
    margin: 2rem 0 3rem 0;
    padding: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: 1rem;
    color: var(--color-three);
    font-weight: 400;
}

.automatic__message span {
    font-size: 1rem;
    color: var(--color-three);
    font-weight: 700;
}




