:root {
    --color-one: #FFFFFF;
    --color-two: #ECF1F5;
    --color-three: #68717c;
    --color-four: #00637A;
    --color-five: #09002C;
    --color-six: #C6977D;
    --color-seven: #F05E25;
    --color-eigth: #ced2d6;

    font-family: inter;
}

@media only screen and (max-width:600px) {
    .email__marketing__container, .footer__container {
        width: 100%;
    }
}